<!-- LAYOUT.erb -->

<!DOCTYPE html>

<html>
	<head>
	<title> Movie Search </title>
	<link rel= "stylesheet" type= "text/css" href= "stylesheets/movie_style.css">
	</head>
	<body>
			<%= yield %>



	</body>
</html>