<h1> Which movie would you like to watch? </h1>

<form accept-charset="UTF-8" action="/results" method="POST" >
<input type="text" name="movie">
<input type="submit" name="commit" value="Voila">
</form>